<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>My CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      {{{ header }}}
    </header>
    <div>
      <h1>Strona główna</h1> 
    </div>
    <footer>
      {{ footer_title }}
      {{{ footer }}}
    </footer>
  </body>
</html>
